.googleCal {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
width: 90%;
height: 0;
overflow: hidden;
}
.googleCal iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
